// import utils and mixins
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

// overwrite bootstrap vars

$font-family-sans-serif: "Open Sans", sans-serif;
$font-weight-base: 300;
$headings-font-weight: 300;
$gray-800: #343a40;
$primary: $gray-800;
$link-color: $primary;
$link-hover-color:          darken($link-color, 30%);

// import the rest of bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

// html
body {
  padding: $spacer;
}
// header
header{
  font-size: $font-size-lg;
  #nav {
    text-align: right;
    a.active {
      color: $red;
      cursor: default;
    }
  }
}
// main
#gallery {
  li, img {
    border: 1px solid $gray-800;
  }
  li {
    padding: $spacer;
    margin-bottom: map-get($spacers, 2);
    max-width: 30%;
  }
  img {
    max-width: 100%;
  }
}
#quote {
  font-size: .7rem;
  padding-top: 6rem;
  position: sticky;
  top: -5rem;
}
#centermass {
  h1{
    padding-top: map-get($spacers, 4);
    padding-bottom: map-get($spacers, 3);
  }
  img.float-right, img.float-left {
    padding: $spacer;
  }
  span {
    font-size: $font-size-lg;
    color: $red;
  }
}

// footer
footer {
  color: $gray-500;
  text-align: center;
  font-size: $font-size-sm;
  padding-top: map-get($spacers, 5);
}

